body{
background-image: url(https://wallpaperfx.com/view_image/blue-sky-1920x1080-wallpaper-1556.jpg);
background-attachment: fixed;
background-repeat: no-repeat;
background-position: center;
}
.seven{
	color: royalblue; 
	font-size: 76px;
	font-family: cursive;
	border: 30px double darkslateblue;
	margin-left: 290px;
	margin-right: 290px;
	padding-right: 10px;
	padding-left: 10px;
}
.pic{
	border:15px dotted black;
}
#only{
	color: red;
	font-size: 76px;
	border: 30px double darkred;
	margin-left: 400px;
	margin-right: 400px;
}
.one{
	border:14px groove pink;
}
.two{
	color: black;
	background-color: white;
	border: 8px double pink;
	margin-left: 25px;
	margin-right: 25px;
}
.third{
	border: 10px dashed black;
}
.four{
	font-size: 17px;
	color: black;
	font-family: cursive;
}
.fourth{
	color: black;
	margin-right: 360px;
	margin-left: 360px;
	font-size: 20px;
	font-family: cursive;
}
.symptoms{
	font-size: 15px;
	color: black;
	font-family: cursive;
}
.five{
	color:black;
	background-color: transparent;
	border-style: none;
}
.fifth{
	color: black;
	border: 10px double black;
	font-family: cursive;
	font-size: 20px;
	margin-right: 220px;
	margin-left: 220px;
}
.six{
	color: black;
	border: 30px double black;
	font-family: cursive;
	font-size: 76px;
	margin-left: 400px;
	margin-right: 400px;
}
.sixth{
	border-style: none;
}
.seventh{
	color: black;
	background-color: white;
	border: 8px inset black;
	margin-left: 190px;
	margin-right: 190px;
}
.eighth{
	color: black;
}
.ninth{
	color: black;
	background-color: white;
	border: 8px inset black;
	margin-right: 190px;
	margin-left: 190px;
}
.tenth{
	color: black;
	font-size: 20px;
	background-color: transparent;
	border-style: none;
}
.eleventh{
	color: white;
	background-color: black;
	font-family: cursive;
	font-size: 16px;
	padding: 30px;
}
.twelfth{
	color: white;
	background-color: black;
	font-family: cursive;
	font-size: 17px;
	padding: 30px;
}
.thirteenth{
	color: white;
	background-color: black;
	font-family: cursive;
	font-size: 18px;
	padding: 30px;
}
.fourteenth{
	color: black;
	font-size: 22px;
	background-color: transparent;
}
.fifteenth{
	color: black;
	font-family: cursive;
	font-size: 18px;
	margin-right: 355px;
	margin-left: 355px;
}
.sixteenth{
	color: black;
	font-family: cursive;
	font-size: 20px;
	margin-right: 140px;
	margin-left: 140px;
}
.blue{
	color:darkblue;
	font-size: 25px;
	font-family: cursive;
	background-color: yellow;
	border: 10px inset darkblue;
	margin-right: 360px;
	margin-left: 360px;
}
.yellow{
	color:darkblue;
	font-size: 25px;
	font-family: cursive;
	background-color: yellow;
	border: 10px inset darkblue;
	margin-right: 160px;
	margin-left: 160px;
}
.white{
	color:darkblue;
	font-size: 25px;
	font-family: cursive;
	background-color: yellow;
	border: 10px inset darkblue;
	margin-right: 140px;
	margin-left: 140px;
}
.pink{
	color:darkblue;
	font-size: 30px;
	font-family: cursive;
	background-color: yellow;
	border: 10px inset darkblue;
	margin-right: 500px;
	margin-left: 500px;
}
.black{
	color:darkblue;
	font-size: 30px;
	font-family: cursive;
	background-color: yellow;
	border: 10px inset darkblue;
	margin-right: 460px;
	margin-left: 460px;
}
.grey{
	color:darkblue;
	font-size: 30px;
	font-family: cursive;
	background-color: yellow;
	border: 10px inset darkblue;
	margin-right: 250px;
	margin-left: 250px;
}
a:hover{
	font-size: 20px;
	color: pink;
	background-color: black;
}
a{
		background-color: pink;
		color: white;
		text-decoration: none;
		margin-left: -4px;
		padding: 10px;
		font-size: 20px;
		font-family: cursive;
		border: 1px solid white;
	}
	ul{
		margin-left: -50px;
		margin-top: -3px;
	}
	.column{
		float: left;
		width: 33%;
		text-align: center;
	}
	.link{
		font-size: 20px;
		background-color: transparent;
		color: black;
		border-style: none;
	}
	.check{
		font-size: 76px;
		border: 10px double black; 
		margin-left: 300px;
	    margin-right: 300px;
	}
	.form{
		padding-left: 70px;
	}